<section class="sectionInicio">
  <div class="primerContainer tamañoContainer">
    <div class="textInicio">
      <h1>Reserva tu pasión al instante</h1>
      <p> Explorá los sitios disponibles en lima
        en tiempo real.</p>
    </div>
    <div class="imagen">
      <img src="assets/imagenes/descarga%20(1).jpg" alt="">
    </div>
  </div>
  <div class="espacioVerde ">
    <h3> ¡Llegá a más clientes, ocupá las reservas canceladas y espacios libres!</h3>
  </div>
  <div class="segundoContainer tamañoContainer">
    <div class="textInicio">
      <h2>Digitalizamos el deporte
        en Lima</h2>
      <p>Estamos presentes en todos los distritos de Lima</p>
      <div class="Nosotros">
        <div class="informacion">
          <h3>¿Quieres probar
            <span>escoge tu pasion </span> cerca a tu casa?</h3>
          <p>Te mostramos los beneficios de tener un canal online para gestionar tu club que permite a los usuarios
            reservar online.</p>
          <p>Dejanos tus datos de contacto así podemos ponernos en contacto contigo.</p>
        </div>
        <div class="contacto">
          <h5>Datos de contacto</h5>
          <div>
            <input type="text" placeholder="Nombre y Apellido">
          </div>
          <div>
            <input type="text" placeholder="Deporte/s">
          </div>
          <div>
            <input type="text" placeholder="Distrito">
          </div>
          <div>
            <input type="text" placeholder="Email">
          </div>
          <div>
            <input type="text" placeholder="Telefono">
          </div>
          <div>
            <textarea placeholder="Consulta"></textarea>
          </div>
          <div>
            <button>Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="espacioVerde ">
    <h3>¡Elige tu complejo deportivo entre cientos y alquilá en segundos!</h3>
  </div>
  <div class="tercerContainer tamañoContainer">
    <div class="textInicio">
      <h4>Preguntas frecuentes</h4>
      <h5>¿Qué datos necesito para registrarme?</h5>
      <p>
        Para registrarte en escoge tu pasion, deberás iniciar sesión con una red social (Facebook o Google) o podrás ingresar con tu número de teléfono.
        Esto nos servirá para poder dejar los datos de la reserva al club.</p>
      <h5>¿Cómo reservar un turno para jugar?</h5>
      <p>Para reservar una cancha, es tan sencillo como ingresar zona, deporte y fecha y así podrás ver la disponibilidad. Luego, dependiendo del club, deberás o no dejar una tarjeta como un deposito de seguridad. No se te cobrará nada a menos que no cumplas con las polticas de cancelación. Podrás encontrar canchas de fútbol, padel,
        tenis y todos los deportes que estén disponibles en la plataforma.</p>
      <h5>¿La reserva es instantánea o necesito una confirmación del club?</h5>
      <p>Ni bien ingreses tu tarjeta como deposito en garantía, la reserva está confirmada. Los clubes utilizan nuestro software de gestión profesional para clubes en donde vuelcan su disponibilidad en tiempo real. De esta manera le garantizamos al
        usuario el 100% de efectividad en las reservas.</p>
      <h5>¿Cuánto tiempo tengo para cancelar una reserva ya confirmada?</h5>
      <p>La cancelación siempre dependerá de las políticas del club. De todas maneras siempre las sabrás antes de reservar, ya que nosotros te las informaremos antes de procesar el pago. En caso de lluvia, podrás contactarte directamente con el club y así el mismo club gestionará la devolución de
        la seña en caso de que corresponda.</p>
      <h5>¿Qué pasa si no voy a jugar?</h5>
      <p>En caso de que no te presentes, se debitará el monto de la seña de tu tarjeta ingresada. Es importante que canceles lo antes posible para poder permitirle
        a otros usuarios que practiquen deporte.</p>
    </div>
  </div>
</section>
