<section class="sectionHeader">
  <div class="containerHeader">
    <div class="logoText">
      <img src="assets/imagenes/P.png" alt="">
      <div class="text">
        <h1>Escoge tu pasión</h1>
      </div>
    </div>
    <div class="busquedaDistrito">
      <input type="text" placeholder="Buscar Distrito">
    </div>
    <div class="pasionSelect">
      <select name="" id="1">
        <option value="">Futbol</option>
        <option value="">Basquet</option>
        <option value="">Voley</option>
      </select>
    </div>
    <div class="escogeFecha">
      <input type="date">
    </div>
    <div class="escogeHora">
      <select name="" id="2">
        <option value="">20:00 hs</option>
        <option value="">20:30 hs</option>
        <option value="">21:00 hs</option>
      </select>
    </div>
    <div class="buscarSitio">
      <button>Buscar Complejo</button>
    </div>
    <div class="botonesInicio">
      <button>Iniciar Sesión</button>
      <button>Registrarse</button>
    </div>
  </div>
</section>
